<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
        <h2 personal page><td th:text="${user.getUsername()}"></td> </h2>
    <br>
    <table>
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.getAuthorities()}"></td>
        </tbody>
    </table>
    <br>
    <p><a href="/logout">logout</a></p>
</div>
</body>
</html>