<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<div th:switch="${users}">
  <h2 th:case="null">No users found!</h2>
  <div th:case="*">
<h2>Admin Page</h2>
<h2>List of users</h2>
<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Username</th>
    <th>Email</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user:${users}">
    <td th:text="${user.getId()}"></td>
    <td th:text="${user.getUsername()}"></td>
    <td th:text="${user.getEmail()}"></td>
    <td><a th:href="@{/admin/user-update/{id}(id=${user.id})}">Edit</a></td>
    <td><a th:href="@{/admin/user-delete/{id}(id=${user.id})}">Delete</a></td>
  </tr>
  </tbody>
</table>
  </div>
  <p><a href="/admin/user-create">Create user</a></p>
  <p><a href="/user">Personal page</a></p>


  <p><a href="/logout">logout</a></p>
</div>
</body>
</html>